a {
    text-decoration: none;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;

}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    margin-top: 5rem;
}

img {
    width: 100%;
}

