h3 {
    margin-left: 3rem;
    margin-right: auto;
}

a {
    text-decoration: none;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    padding: 0.5rem;
    font-size: small;
}

img {
    width: 80%;
    border-radius: 1rem;

}

.avatar {
    width: 25%;
    align-self: center;
}

.about-me-text {
    width: 60%;
    align-self: center;
    text-align: center;
}

#home-header {
    font-size: 8rem;
}

#home-subheader {
    font-family: 'GT-Pressura-mono-rg', serif;
}

.view-work-button {
    align-self: center;
    width: 13rem;
}

fieldset {
    margin-left: 1rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
}

.social-media-icon {
    width: 3rem;
    margin: 1rem;
}

#submitted-note {
    align-self: center;
}

#project-1,
#project-2 {
    display: flex;
    align-items: flex-start;
}

.next-button,
.previous-button {
    align-self: center;
}

.top {
    align-self: flex-end;
    text-decoration: none;
}




