body {
  margin: 5rem;
  margin-top: 2rem;
  color: white;
  background-color: rgb(15, 15, 15);
  font-family: 'Balto-lt', sans-serif;
  width: auto;
  height: auto;
}

header {
  font-family: 'GT-Alpina-cnd-lt', serif;
  font-weight: lighter;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: 'GT-Alpina-cnd-lt', serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 3rem;
  align-self: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  text-transform: uppercase;
}

h3,
h4,
h5 {
  font-family: 'GT-Pressura-mono-rg', serif;
  font-weight: lighter;
  font-size: 1rem;

}

a {
  color: rgb(255, 255, 255);
  transition: color 0.1s;
}

a:active,
a:hover,
a:focus {
  color: rgb(133, 133, 133);
  text-decoration: none;
}

nav {
  font-family: 'GT-Pressura-mono-rg', sans-serif, monospace;
  display: flex;
  flex-direction: row;
}

.nav-main-item {
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color 0.1s ease-out;
  text-decoration: none;
  text-align: center;
  color: rgb(157, 157, 157);
}

.nav-main-item:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.nav-main-item:focus {
  text-decoration: none;
}

.nav-main-item:active {
  text-decoration: line-through;
}

.border {
  border: 0.1rem solid rgb(73, 73, 73);
  border-radius: 0.3rem;
  padding: 2rem;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  font-family: 'GT-Pressura-mono-rg', serif, monospace;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.3rem;
  margin: 2rem;
  border: 0.1rem solid rgb(255, 255, 255);
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  background-color: black;
  text-decoration: none;
  transition-duration: 0.4s;
  text-transform: uppercase;
  display: block;
}

button:hover,
button:focus {
  border: 0.1rem solid rgb(255, 255, 255);
  background-color: rgb(100, 100, 100);
}

button:active {
  background-color: black;
}

.product-item-container img {
  width: 20%;
}

p {
  font-family: 'Balto-lt', sans-serif;

  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

fieldset {
  border: none;
  padding: 2rem;
}

label {
  margin-bottom: 1rem;
}

input,
textarea {
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(224, 224, 224);
  width: 15rem;
  margin-left: 1rem;
  border-color: white;
  font-style: italic;
  resize: none;
  overflow: auto;
  width: 50%;
}

#message {
  width: 55%;
  height: 50%;
  border-radius: 1.5rem;
  padding-top: 1rem;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.radio-button {
  padding-top: 0.5rem;
}

label {
  display: block;
}

.top a {
  align-self: flex-end;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  margin-top: 5rem;
}



@media all and (max-width: 700px) {

  .projects-container {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;

  }

  img{
      width: 100%;
  }

  nav{
      flex-direction: column;
  }
  .nav-main-item{
      margin-top: 0.5rem;
  }

  .container{
    flex-direction: column;

  }

}


@media all and (max-width: 400px) {

  .projects-container {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;

  }

body{
     margin-left: 1rem;

  }


}

